  
* {
  // border: 1px black solid;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding:0.01em 16px;
}

.center 
{text-align:center!important;}

.content{max-width:980px;margin:auto;}

.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{padding:0 8px;}

.light-gray,.hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important;}

h1,h2,h3,h4,h5,h6,.slim,.wide{font-family:"Segoe UI",Arial,sans-serif;}

.opacity,.hover-opacity:hover{opacity:0.60;-webkit-backface-visibility:hidden;}

.justify{text-align:justify!important;}

.bar {
  width:100%;overflow:hidden;
}

.topnav {
  overflow: hidden;
  list-style: none;
  background-color: white;

}
ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8vmax;
}

/* When the link is active, its color will change */
li a:active {
  color: rgb(216, 95, 95);
}

ul.topnav li a:hover:not(.active) {
  color: rgb(216, 95, 95);
}

ul.topnav li.right {
  float: right;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

footer {
  display: block;
}

.padding-64 {
  padding-top:64px!important;
  padding-bottom:64px!important;
}


.black, hover-black:hover {
  color:#fff!important;
  background-color:#000!important;
}

.xlarge 
{font-size:24px!important;}


@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
  .topnav {
    padding: 0;
  }
}
